# Gitignore

# Dependencias
/node_modules

# Pruebas
/coverage

# Produccion
/bin
/build

# Archivos y carpetas generales
.DS_Store
.env.development.local
.env.local
.env.production.local
.env.test.local
npm-debug.log*
package-lock.json
yarn-debug.log*
yarn-error.log*
